# Python & Jupyter cache
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# Virtual Environments
.venv/
venv/
env/

# Large media files (>100MB)
*.mp4
*.avi
*.mov

# OS & IDE metadata
Thumbs.db
Desktop.ini
.DS_Store
.vscode/
.idea/
